<template>
    <div class="group">
        <h3>{{groupname}}</h3>
        <ul v-if="members.length > 0">
            <li v-for="member in members">
                <span>
                    {{member['name']}}; {{member['roles']}}
                </span>
            </li>
        </ul>
        <label v-else>No members in group</label>
        <form ref="form" method="POST">
            <div v-for="(obj, defName) in dataDef" class="pb-3">
                <label v-if="obj['label']">{{obj['label']}}</label>
                <select
                    v-if="obj['type'] == 'select'"
                    class="form-control"
                    :name="defName">
                    <option value="">{{obj['placeholder']}}</option>
                    <option :value="val" v-for="(val, key) in $props[defName]">{{val}}</option>
                </select>
                <input
                    v-else
                    :type="obj['type']"
                    :name="defName"
                    :placeholder="obj['placeholder']"
                    class="form-control"
                    :value="obj['default']"></input>
            </div>
            <button class="btn btn-info" @click.prevent="addMember()">Add Member</button>
        </form>
    </div>
</template>

<script>
import rolesMixin from "../mixins/roles";

export default {
    props: {
        groupname: { type: String }
    },
    data(){
        return {
            members: [],
            dataDef: {
                name: {placeholder: 'Add member', default: '', type: 'text'}
            }
        }
    },
    methods: {
        addMember(){
            let formdata = new FormData(this.$refs.form).entries();
            let newMember = {};
            for(let arr of formdata){
                newMember[arr[0]] = arr[1];
                this.$refs.form[arr[0]].value = ""; //clearing form
            }
            console.log(newMember);
            this.members.push(newMember);
        }
    },
    mixins: [rolesMixin]
}
</script>

<style scoped>
.group{
    border:1px solid black;
    padding:5px 10px;
}
form{
    padding-top:10px;
    border-top:1px dashed black;
}
</style>