<template>
  <div id="app" class="container py-3">
    <div class="row">
      <div class="col-12">
        <form class="py-3">
          <div class="pb-2">
            <input ref="groupname" class="form-control" type="text" name="groupname" placeholder="Group's name">
          </div>
          <div class="pb-2">
            <input ref="roles" class="form-control" type="text" name="roles" placeholder="Add roles. Comma separated">
          </div>
          <div>
            <button class="btn btn-info" @click.prevent="addGroup()">Add Group</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div v-if="groups.length == 0" class="col-12">No groups have been added yet</div>
      <div v-else v-for="group in groups" class="col-4">
        <Group class="w-100" :groupname="group.name" :roles="group.roles"/>
      </div>
    </div>
  </div>
</template>

<script>
import Group from "./components/Group"

export default {
  name: 'App',
  data: function(){
    return {
      groups: []
    };
  },
  methods: {
    addGroup(){
      let name = this.$refs.groupname.value;
      let roles = this.$refs.roles.value;
      roles = roles.split(',').map((item) => item.trim());
      this.groups.push({name, roles});
      this.$refs.groupname.value = "";
      this.$refs.roles.value = "";
    }
  },
  components: {
    Group
  }
}
</script>

<style>
</style>
